<div class="w-screen bg-gray-200 rounded-2xl">
  <!-- User Greeting -->
  <div class="flex space-x-8 py-12 pl-24">
    <h1 class="text-4xl">Welcome User</h1>

    <a href="/discover" class="bg-blue-400 hover:bg-opacity-70 rounded p-4">Discover Movies</a>
  </div>

  <div class="flex flex-col items-center pb-16">
    <!-- Friends Section -->
    <div id="friends" class="flex flex-col bg-white px-16 rounded-xl border border-black h-full items-center">
      <h4 class="text-3xl pl-4">Friends</h4>
      <!-- Form to add friend -->
      <%= form_with url: add_friend_path, local: true, class: 'pl-4 pt-2' do |f| %>
        <label for="friend">Add Friend By Email Address</label>
        <%= f.text_field :email, class: 'border border-black rounded' %>
        <%= f.submit 'Add Friend' %>
      <% end %>

      <ul class="">
        <h4 class="text-2xl pl-4">Your Friends:</h4>
        <% if !@user.friends.empty? %>
          <% @user.friends.each do |friend| %>
            <li class="p-4"><%= "Friend Username: #{friend.username}, Friend Email: #{friend.email} " %></li>
          <% end %>
        <% else %>
          <h4 class="text-2xl pl-4">You currently have no friends!</h4>
        <% end %>
      </ul>
    </div>

    <!-- Parties Section -->
    <div id="parties" class="flex flex-col px-16 items-center">
      <h3 class="text-3xl underline">Viewing Parties</h3>

      <h4 class="text-2xl">Hosting</h4>

      <div class="grid grid-cols-3 gap-2">

        <% @my_view_parties.each do |vp| %>
          <div class="flex flex-col items-center p-4">
            <p><a href="#" class="hover:text-blue-400"><%= vp.movie_title %></a></p>
            <p><%= vp.event_time.to_formatted_s(:short) %></p>
            <div class="grid grid-cols-3 gap-2 justify-items-center">
              <% vp.view_party_users.users.each do |user| %>
                    <p><%= user.username %></p>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>


      <h1 class="text-2xl">Invited</h1>
      <div class="grid grid-cols-3 gap-2">

        <% @attending_view_parties.each do |vp| %>
          <div class="flex flex-col items-center p-4">
            <p><a href="#" class="hover:text-blue-400"><%= vp.movie_title %></a></p>
            <p><%= vp.event_time.to_formatted_s(:short) %></p>
            <div class="grid grid-cols-3 gap-2 justify-items-center">
              <% vp.view_party_users.users.each do |user| %>
                <p><%= user.username %></p>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>



  </div>
</div>