<div class="flex bg-gray-200">
  <div class="p-8">
    <img src="<%= @image_base_url %><%= @movie[:poster_path] %>" alt="">
  </div>

  <div class="p-8 space-y-4">
    <p class="text-8xl"><%= @movie[:title] %></p>
    <p class="">Average Rating: <%= @movie[:vote_average] %></p>
    <p>Runtime: <%= @movie[:runtime] %></p>
    <div class="pb-4">
      <p class="text-lg font-bold">Overview</p>
      <p><%= @movie[:overview] %></p>
    </div>
    <div>
      <a href="#" class="bg-blue-400 p-4 rounded-xl hover:bg-opacity-70">Create Viewing Party</a>
    </div>
  </div>
</div>