<div class="flex bg-gray-200">
  <div class="p-8 w-1/3">
    <img src="<%= @movie.image_base_url %>original<%= @movie.poster_path %>" alt="">
  </div>

  <div class="p-8 space-y-4 w-2/3">
    <p class="text-8xl"><%= @movie.title %></p>
    <p>Average Rating: <%= @movie.vote_average %></p>
    <section>
      <p class="text-lg font-semibold">Genres</p>
      <ul class="flex space-x-4">
        <% @movie.genres.each do |genre| %>
          <li><%= genre[:name] %></li>
        <% end %>
      </ul>
    </section>
    <p><%= format_minutes @movie.runtime %></p>
    <div class="pb-4">
      <p class="text-lg font-bold">Overview</p>
      <p><%= @movie.overview %></p>
    </div>

    <p class="text-lg font-bold">Cast</p>
    <div class="grid grid-cols-5 gap-4">
      <% @movie.cast[0..9].each do |cast| %>
        <div>
          <% if cast[:profile_path] %>
            <img src="<%= @movie.image_base_url %>w342<%= cast[:profile_path] %>" alt="<%= cast[:name] %>" class="w-32 h-32">
          <% else %>
            <img src="https://via.placeholder.com/400?text=<%= cast[:name] %>" alt="<%= cast[:name] %>" class="w-32 h-32">
          <% end %>
          <p><%= cast[:name] %></p>
          <p>(<%= cast[:character] %>)</p>
        </div>
      <% end %>
    </div>
    
    <div class="absolute top-28 right-80">
      <%= form_with url: '/view_parties/new', method: :get, local: true do |f| %>
        <%= f.hidden_field :movie, value: @movie.to_json %>
        <%= f.submit 'Create Viewing Party', id: 'view_party_submit',  class: 'text-3xl bg-blue-400 p-4 rounded-xl hover:bg-opacity-70' %>
      <% end %>


    </div>
  </div>
</div>

<div class="grid justify-items-center">
  <p><%= @movie.reviews.size %> total reviews</p>
  <div class="grid grid-cols-2 p-8 justify-around">
    <% @movie.reviews.each do |review| %>
      <div class="p-4">
        <p class="underline text-2xl"><%= review[:author] %></p>
        <p class="pl-4"><%= review[:content] %></p>
      </div>
    <% end %>

  </div>
</div>
